.feedbackcard{
    display: flex;
}
.feedbackcard_container{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgb(243, 241, 241) ;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 16vw;
    height: 25vh;
}
.feedbackcard_container:hover{

    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.7);
}
.feedbackcard_top{
    padding: 0.5vh;
    width: 16vw;
    display: flex;
    justify-content: center;
    font-size: 1vh;

}
.feedback_img{
    width: 12vw;
    height: 16vh;
    border-radius: 0.5rem;
}
.feedbackcard_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1vh;
    
}
.feedbackcard_bottom_left{
    margin-left: 1.2vw;
    display: flex;
    flex-direction: column;
}
.feedbackcard_bottom_left_top{
    font-size: 2vh;
    font-weight: 500;
}
.feedbackcard_bottom_left_bottom{
    font-size: 1.5vh;
    margin: 1vh 0;


}
.feedbackcard_bottom_right{
    font-size: 1.5vh;
    width: 4vw;
    height: 2.5vh;
    background-color: orangered;
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
