.feedback{
    display: flex;
    justify-content: center;
    background-color: white;
    
}
.feedback_container1{
  margin-bottom: 10vh;
    max-width: 1024px;  
      width: 100%;
    display: flex;
    justify-content: space-between;
}