.teachers{
        display: flex;
        justify-content: center;
        margin-top: 8vh;
        background-color: black;
    }

.teachers_container{
        display: flex;
        flex-direction: column ;
        width: 100%;
        max-width: 1024px;
}
.teacher_top{
        color: rgb(244, 90, 34);
        font-size: 4vh;
        font-weight: 500;

}
.teachers_bottom{
       
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        margin: 0px 0px 10vh 0px;
         
}

@media screen and (max-width:600px){
   
        
        .teachers_container{
                padding: 1vh;
        }
        
        .teachers_bottom{
                flex-direction: column ;
                margin: 1vh auto;
                 
        }
        
}

@media screen and (max-width:1024px) and (min-width:600px){
       
        .teacher_top{
                padding: 2vh;

}
        
        .teachers_bottom{
                padding: 2vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(100px, auto);
                   

                 
        }

}