.teacherCard{
    margin-top: 2vh;
    display: flex;
}
.teachercard_container1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 13vw;
    height: 39vh;
    display: flex;
    flex-direction: column;
    position: relative;

}
.teachercard_container1:hover{

    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.7);
}
.teachercard_img1{
    display: flex;
    justify-content: center;
    position: relative;
    top: -1vh;
}
.teachercard_img12{
    width: 7vw;
    height:23vh;
}
.teachercard_bottom1{
    margin: 0 auto ;
    background-color: rgb(13, 13, 121);
    border-radius: 10px;
    width: 12vw;
    height: 19vh;
    position: relative;
    top: -1vh;
    border: 1px ;
    display: flex;
    flex-direction: column;
    line-height: 2.5vh;
}
.teacher_experience{
    margin: 1vh auto ;
    display: flex;
    border-radius: 9px;
    background-color: cornflowerblue;
    width: 7vw;
    justify-content: center;
    
}
.teacher_name1{
    font-size: 2.3vh;
    color: white;
    font-weight: 500;
    margin: 0 auto ;
}
.teacher_subject1{

    margin: 1vh auto ;
    color: white;
    font-size: 1.6vh;
}
.teacher_college{
    color: white;
    font-weight: 700;
    font-size: 2.1vh;
    margin: 0 auto ;
}



@media screen and (max-width:600px){
    .teacherCard{
        margin-top: 2vh;
    }
    .teachercard_container1{
        width: 55vw;
        height: 39vh;
    
    }
    .teachercard_img12{
        width: 28vw;
        height:23vh;
    }
    .teachercard_bottom1{
        margin: 0 auto ;
        width: 45vw;
        height: 16vh;
    }
    .teacher_experience{
        width: 27vw;
        font-size: 1.5vh;
    }
    .teacher_name1{
        font-size: 2vh;
    }
    .teacher_college{
        font-size: 2vh;
    }
    

}
@media screen and (max-width:1024px) and (min-width:600px){

    .teacherCard{
        margin-top: 2vh;
    }
    .teachercard_container1{
        width: 35vw;
        height: 39vh;
    
    }
    .teachercard_img12{
        width: 20vw;
        height:20vh;
    }
    .teachercard_bottom1{
        margin: 0 auto ;
        width: 30vw;
        height: 18vh;
    }
    .teacher_experience{
        width: 25vw;
        font-size: 1.5vh;
    }
    .teacher_name1{
        font-size: 2.2vh;
    }
    .teacher_college{
        font-size: 2vh;
    }
}