.card_container{
    background-color: #ee4aad;
background-image: linear-gradient(225deg, #ee4aad 0%, #a874d8 50%, #7bb9ea 100%);
    max-width:17vw;
    width: 17vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
}
.class{
    margin:1vh 0 0 1vw ;
    font-size: 1.6vh;
    color: white;
}
.course_name{
    color: black;
    font-size:2vh;
    font-weight: 450;
    margin: 1vh 0 0 1vw;
}
.course_objectives1{
    display: flex;
    flex-direction: column;
}
.course_objective1{
    border: 0.25px solid white;
    font-size: 1.6vh;
    color: r;
    padding: 1vh;
    width: max-content;
    margin: 1vh 1vw;
    border-radius: 10px;
}
.explore_btn1{
    background-color: rgb(245, 137, 98);
    color: white;
    width: max-content;
    border: none;
    padding: 1vh;
    border-radius: 1rem;
    margin: 1vh 0 1vh 1vw;
}


/* mobile */

@media screen and (max-width:600px){
    .card_container{background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(243,94,131,1) 17.1%, rgba(236,212,80,1) 89.7% );
        max-width:55vw;
        width: 55vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .class{
        margin:1vh 0 0 1vw ;
        font-size: 1.6vh;
        color: white;
    }
    .course_name{
        color: black;
        font-size:2vh;
        font-weight: 450;
        margin: 1vh 0 0 1vw;
    }
    .course_objectives1{
        display: flex;
        flex-direction: column;
    }
    .course_objective1{
        border: 0.25px solid white;
        font-size: 1.2vh;
        color: white;
        padding: 1vh;
        width: max-content;
        margin: 1vh 1vw;
        border-radius: 10px;
    }
    .explore_btn1{
        background-color: rgb(245, 137, 98);
        color: white;
        width: max-content;
        border: none;
        padding: 1vh;
        border-radius: 1rem;
        margin: 1vh 0 1vh 1vw;
    }
    
}

/* ipad*/

@media screen and (max-width:1024px) and (min-width:600px){
    .card_container{
        
    background-image: linear-gradient(180deg,#A16BFE,#BC3D2F);
        max-width:25vw;
        width: 25vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 10px;
        justify-content: center;
    }
    .class{
        margin:1vh 0 0 1vw ;
        font-size: 1.6vh;
        color: white;
    }
    .course_name{
        color: black;
        font-size:2vh;
        font-weight: 450;
        margin: 1vh 0 0 1vw;
    }
    .course_objectives1{
        display: flex;
        flex-direction: column;
    }
    .course_objective1{
        border: 0.25px solid white;
        font-size: 1.2vh;
        color: white;
        padding: 1vh;
        width: max-content;
        margin: 1vh 1vw;
        border-radius: 10px;
    }
    .explore_btn1{
        background-color: rgb(245, 137, 98);
        color: white;
        width: max-content;
        border: none;
        padding: 1vh;
        border-radius: 1rem;
        margin: 1vh 0 1vh 1vw;
    }
}