.content4{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 2vh 0;
}
.content4_container{
    border-radius: 10px;    
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0px 0px 100px 0px;
    height: 35vh;
    display: flex;
    background-color: rgb(250, 248, 248);
}
.top{
background-color: black;
}
.top_desc{
    padding: 1vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1.4vh;
}
.bottom{
    background-color: black;
    display: flex;
    padding-top: 2vh;
    flex-direction: column;
}
.txt_top1{
    font-size: 4vh;
    font-weight: bold;
    color:rgb(245, 93, 38);
}
.top_cards{
    display: flex;
    justify-content: space-between;
}
.bottom_desc{    
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 1vh;
    color:rgb(245, 93, 38);
    display: flex;
    justify-content: center;
}
.bottom_cards{
    background-color: black;
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}