.content5{
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    background-color: white;
}
.content5_container{
    border-radius: 10px;    
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0 0 5vh 0;
    height: 55vh;
    display: flex;
}
.top5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:3vh 0 3vh 0 ;
}
.top_left5{
    font-size: 3vh;
    font-weight: 700;
}
.top_right5{
    height:1.9vh;
    font-weight: 500;
    color:  rgb(245, 93, 38);
}

.bottom5{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}