.cardcomp5_container{
    border: 1px solid rgb(181, 177, 177);
    border-radius: 5%;
    width: 16vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.cardcomp5_container:hover{

    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.7);
}
.top_part5{
    
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top_part5_img{
    width: 15vw;
    height: 15vh;
    object-fit: cover;
}

.bottom_part5{
    margin: 1vh 0 2.5vh 1vw;
    display: flex;
    flex-direction: column;
    line-height: 2.8vh;
}
.subject5{
    font-size: 1.5vh;
    font-weight: bold;
    color: rgb(206, 75, 206);
    
}

.subject_desc{
    width: 16vw;
    font-size: 2vh;
    font-weight: 500;
}

.teacher_name{
    font-weight: 500;
    font-size: 1.5vh;
    color: gray;
    margin-bottom: 1vh;
}
.join_btn5{
    color: white;
    background-color: rgb(245, 93, 38);
    border: none;
    border-radius: 7px;
    padding: 1vh;
    height: 3.8vh;
    width: max-content;
}


/* mobile */
@media screen and (max-width:600px){
    .cardcomp5_container{
        border-radius: 7px;
        width: 76vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: 40vh;
        margin: 1vh 0;
        
    }
    .cardcomp5_container:hover{
    
        box-shadow: 0 10px 18px 0 rgba(0,0,0,0.7);
    }
    .top_part5{
        height: 16vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top_part5_img{
        width: 66vw;

    }
    .bottom_part5{
        margin: 1vh 0 2.5vh 1vw;
        display: flex;
        flex-direction: column;
        line-height: 2.8vh;
    }
    .subject5{
        font-size: 1.8vh;
        font-weight: 500;
        color: rgb(206, 75, 206);
        
    }
    
    .subject_desc{
        width: 36vw;
    }
}

/*   ipad    */
@media screen and (max-width:1024px) and (min-width:600px){
    .cardcomp5_container{
        border-radius: 7px;
        width: 32vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: 40vh;
        margin: 1vh 0;
        
    }
    .cardcomp5_container:hover{
    
        box-shadow: 0 10px 18px 0 rgba(0,0,0,0.7);
    }
    .top_part5{
        height: 14vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_part5_img{
        width: 80%;
        object-fit: contain;

    }
    .bottom_part5{
        margin: 2vh 0 2.5vh 1vw;
        display: flex;
        flex-direction: column;
        line-height: 2.8vh;
    }
    .subject5{
        font-size: 1.8vh;
        font-weight: 500;
        color: rgb(206, 75, 206);
        
    }
    
    .subject_desc{
        width: 24vw;
    }

    .join_btn5{
    font-size: 1.3vh;
    height: 3.8vh;
    width:10vw;
    }
}
