.card2_container{
    width:9vw;
    background-color:whitesmoke;
    height: 12vh;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
}
.classes{
    margin:1vh 0 0 1vw ;
    font-size: 2vh;
    font-weight: 500;
    color: blueviolet;
}
.duration{
    color: black;
    font-size:1.8vh;
    font-weight: 450;
    margin: 1vh 0 0 1vw;
}


/* mobile */
@media screen and (max-width:600px){
    .card2_container{
        width:29vw;
    }
    .classes{
        margin:1vh 0 0 3vw ;
        
        color: blueviolet;
    }
    .duration{
        margin: 1vh 0 0 3vw;
    }

}


/* ipad */
@media screen and (max-width:1024px) and (min-width:600px){
    .card2_container{
        width:14vw;
        height: 10vh;
       
    }
}