.inspire{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    background-color: white;
    padding: 1vh;
}
.inspire_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
}
.inspire_heading{
    font-size: 3.6vh; 
    font-weight: 500;
    margin-bottom: 1vh;
}
.inspire_box{
    background-color: rgb(243, 241, 241);
    border: 1.5px solid rgb(167, 163, 163);
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0 0 3vh 0;
    display: flex;
    
}
.inspire_top{
    display: flex;
    flex-direction: row;
    padding: 1.6vh;
}
.inspire_top_left{
}
.inspire_img{
    border-radius: 1rem;
    height: 28vh;
    width: 16vw;
}
.inspire_top_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.inspire_txt1{
    width: 22vw;
    font-size: 2.5vh;
    font-weight: 300;
    font-family: sans-serif;
    
}
.inspire_txt2{
    margin: 2vh 0;
    font-weight: bold;
}
.inspire_txt3{
    font-size: 1.4vh;
}
